@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Merriweather:wght@300;400;900&display=swap');

*{
margin: 0;
padding: 0;
/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */
}

header, .container{
    width: 82%;
    max-width:1320px;
    margin: auto;
    height: 600px;
    border-radius: 16px;
}
p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
}


/* ----------header style start------------- */
header{
    background-image: url(../assets/Banner\ Image.png);
    background-position:center;
    background-repeat: no-repeat;
    margin-top: 50px;
}
header .container{
    width:100%;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
header h5{
    font-family: 'Merriweather', serif;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 200px;
    line-height: 2em;
}
header h1 {
    font-family: 'Merriweather', serif;
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 600;
    line-height: 1.2em;
}

/* ----------header style end------------- */
/* ----------offer style start------------- */

#offer{
    margin-top: 90px;
    text-align: center;
}
#offer h1{
    color: #F00;
    font-size: 85px;
    font-weight: 700;   
}
#offer p{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 27px;
}
#offer h3{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 8px;
}
#offer img{
    margin-top: 40px;
    height: 400px;
}

/* ----------offer style end------------- */

/* ----------Welcome style start------------- */
#welcome{
    width: 82%;
    max-width:1320px;
    margin: 90px auto ;
    height: 600px;
    border-radius: 16px;
    background-image: url(../assets/Vectorrr.png);
    background-position:center;
    background-repeat: no-repeat;
}

#welcome .container{
    background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#welcome .welcomme-details-container{
    padding: 80px;
}
#welcome .welcomme-details-container h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 1.2em;
}
#welcome .welcomme-details-container p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em; 
}
#welcome .welcomme-details-container button{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    margin-top: 24px;
    margin-left: 27px;
}
#welcome .welcome-details-img {
    padding: 80px 80px 80px 0;
}
/* ----------Welcome style end------------- */


/* ----------Place Date time style start------------- */
#placeDateTime .container{
    height: 300px;
    padding-top: 100px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);  
}

#placeDateTime .placeDateTimedetails{
    text-align: center;
    color: #070211;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.8em;
}
#placeDateTime .placeDateTimedetails b{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

#placeDateTime .join-button{
    margin-top: 40px;
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #F00;
    border: none;

    color: #FFF;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
}
/* ----------Place Date time style end------------- */
/* ----------Comming soon style start------------- */
#commingSoon{
    margin-top: 60px;
}
#commingSoon .container{
    display: flex;
    height: 550px;
    justify-content: space-between;
}
#commingSoon .container .commingSoonDetails,#commingSoon .container .commingSoonShortDetails {
    width: 40%;
    height: 400px;
}
#commingSoon .container .commingSoonimg{
    width: 20%;
}
#commingSoon .commingSoonDetails{
    padding-top: 90px;
    padding-right: 60px;
}
#commingSoon .commingSoonDetails .shortTitle{
    color: #F00;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}
#commingSoon .commingSoonDetails h2{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}
#commingSoon .commingSoonDetails .shortdescription,#commingSoon .commingSoonShortDetails .shortdescription{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
}
#commingSoon .commingSoonimg img {
    height: 300px;
    width: 300px;
}
#commingSoon .commingSoonimg {
    height: 300px;
    width: 300px!important;
    padding: 20px;
    border-radius: 999px;
    border: 12px solid #F00;
}
#commingSoon .commingSoonShortDetails {
    padding-top: 90px;
    padding-left: 60px;
}
#commingSoon .commingSoonShortDetails .commingsoonYear {
    color: #F00;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}
#commingSoon .commingSoonShortDetails img{
    height: 120px;
    width: 120px;
    margin-top: 40px;
}

/* ----------Comming Soon style end------------- */
/* ----------Holiday sale style start------------- */
#holiday .container{
    position: relative;
}
#holiday .container .holiday-description-container{
    text-align: center;
}
#holiday .container .holiday-description-container p{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}
#holiday .container .holiday-description-container h1{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    margin-bottom:16px;
}
#holiday .container .holiday-description-container h1>span{
    color: #F00;
}
#holiday .container .holiday-description-container .short-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    padding: 0 190px;
}
#holiday .img-container{
    display: flex;
}
.holiday-box{
    height: 431px;
    top: 57%;
    position: absolute;
    left: 6%;
    width: 479px;
    z-index: 2;
}
.holiday-border{
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
}
.img-with-50-discount{
    position: absolute;
    right: 284px;
    z-index: 2;
    height: 232px;
    top: 340px;
}
.img-girl-with-bag{
    position: absolute;
    right: 0;
    top: 250px;
    height: 350px;
    width: 400px;
}
.holiday-border-container{
    width: 82%;
    max-width:1320px;
    margin: auto;
}
/* ----------Holiday sale style end------------- */


/* ----------portfolio style start------------- */

#portfolio{
    margin-top: 6%;
    height: 1070px;
    margin-bottom: 150px;
} 
#portfolio .container{
    width: 82%;
    max-width:1320px;
    height: 600px;
    border-radius: 16px;
}
#portfolio .portfolio-details-container{
    width: 60%;
}
#portfolio .portfolio-details-container .short-title{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

#portfolio .portfolio-details-container h2{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 10px auto 16px;
}
#portfolio .portfolio-details-container .portfolio-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em; 
}
#portfolio .product-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
#portfolio .product-container .product{
    width: 32%;
    border-radius: 16px;
}
#portfolio .product-second-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
#portfolio .product-second-container .product{
    width: 32%;
    border-radius: 16px;
}
/* ----------portfolio style end------------- */


/* ----------newsletter style start------------- */
#newsletter .container{
    margin-top: 90px;
    height: 500px;
    padding-top: 100px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
}
#newsletter form input[type="text"] {
    padding: 18px 30px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border: none;
    margin-top: 40px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
}
#newsletter form button[type="submit"]{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00; 
    padding: 18px 30px;  
}

#newsletter .container h2{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 18px;
}
#newsletter .container p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em; 
    padding: 0 200px;
}

/* ----------newsletter style end------------- */

/* ----------footer style start------------- */
footer {
    margin-top: 90px;
    background-color: #070211;
    padding: 90px 0;
}
.footer-container {
    width: 82%;
    max-width:1320px;
    margin: auto;
    border-radius: 16px;
}
footer .address-contact-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 15px;
}
footer .contact-details p, footer .address-details p{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    
}

footer .media-container{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 15px ;
    display: flex;
    justify-content: center;
    margin: auto;
}
footer .media-container ul{
    display: flex;
    list-style: none;
    margin: auto;
}
footer .media-container ul li{
    padding-right: 15px;
    text-align: center;
}
footer .media-container ul li img{
    height: 40px;
}
footer .copy-right{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
                                                                  
}

/* ----------footer style end------------- */